body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #1F1D36;
  color: aliceblue;
}

code {
  font-family: 'Outfit', sans-serif;
}
